extends ./layout.pug

block content
  .container
    .row
      .col-md-5
        h1= "Agregar Estudiante"          
        .card
          .card-body
            form(method='POST' action='/agregar')
              form-group
                label Nombre:
                input.form-control(name='nombre' type='text')
              form-group
                label Edad:
                input.form-control(name='edad' type='text')
              br
              input.btn.btn-primary(type='submit' value='Enviar')

      .col-md-7
        h1= "Consultar Estudiantes"    
        table.table.table-hover.table-bordered
          thead
            tr
              th(scope='col') #
              th(scope='col') ID
              th(scope='col') Nombre
              th(scope='col') Edad
              th(scope='col') 
          tbody
            each estudiante, i in estudiantes
              tr
                th(scope='row')= i+1 
                td= estudiante._id
                td= estudiante.nombre
                td= estudiante.edad
                td 
                  a.btn.btn-dark.actualizar(href="") Editar
                  a.btn.btn-danger.borrar(data-estudianteid=estudiante._id href=`/eliminar/${estudiante._id}` onclick="return confirm('¿Deseas eliminar este registro?');") Eliminar


